<ol class="game-list">
  {{#each games as |game|}}
  <li>
    <article class="game">
      <div class="title">
        <a href="{{game.game_url}}" target="_blank">{{game.title}}</a>
        <span>({{game.game_url}})</span>
      </div>
      <div class="meta">
        {{game.vote_count}} point(s) by {{game.user.username}} on
        {{game.created_at}}
        |
        <a href="/game/{{game.id}}">{{game.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>