<div class="single-game"> 
<article class="game">
   <div class="title">
         <h3>{{game.team_name_home}} <img src = {{game.team_home_logo}}> <br> <span class="vs-text">VS.</span> <br> {{game.team_name_away}} <img src = {{game.team_away_logo}}> </h3>
            </div>
  <div class="meta">
    {{game.vote_count}} point(s) by {{game.user.username}} on
    {{game.created_at}}
    |
    <a href="/game/{{game.id}}">{{game.comments.length}} comment(s)</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">Vote for the {{game.team_name_home}}</button>
    <button type="button" class="upvote-btn">Vote for the {{game.team_name_away}}</button>
  </div>
</form>
{{/if}}


  {{!-- This is a partial --}}
{{!-- {{> comments comment}} --}}

  <div class="comments">
    {{#each game.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  </div>
  {{/each}}

</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}

